{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <h1>Welcome, User!</h1>
    <p>This is your personal dashboard.</p>

    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}

